body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 25%;
    background-color: #f0f0f0  !important;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

.dragged {
    opacity: 0.5;
}
